<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-paynance" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>PaynanceGateway</name>

  <js-module src="www/PaynanceGateway.js" name="PaynanceGateway">
    <clobbers target="PaynanceGateway" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/java/PaynanceGateway.java" target-dir="src/com/example/paynancegateway" />
  </platform>
</plugin>
